In [56]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import os
import json

In [4]:
df = pd.read_csv('diem_thi.csv')

In [5]:
df.head()

   Math  Physic  Chemistry  Biography
0   7.0     7.0        9.5        7.0
1   9.0     3.5        1.5        4.5
2   3.0    10.0        3.0        3.0
3   6.5    10.0        3.5        2.5
4   5.0     6.5        1.0        4.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Math       40 non-null     float64
 1   Physic     40 non-null     float64
 2   Chemistry  40 non-null     float64
 3   Biography  40 non-null     float64
dtypes: float64(4)
memory usage: 1.4 KB

In [7]:
if(df.isna().sum().sum() != 0):
    for col in df.columns:
        if(df[col].isnull().any()):
            df[col].fillna(0, inplace=True)

In [40]:
# df_1 = df['Math']
# thong_ke = df_1.value_counts().sort_index()

# thong_ke.plot(kind='bar', x = 'Score', y = 'Number of Score', )
data_analyze = {}

In [61]:
def process_and_save_plot(df, save_path):
    if not os.path.exists(save_path):
        os.makedirs(save_path)
    
    for column_name in df.columns:
        # Tạo bảng thống kê từ cột cần xử lý
        df_temp = df[column_name]
        
        # Find max, min value
        (max_score, count_max_score) = (df_temp.max(), df_temp[df_temp == df_temp.max()].count())
        (min_score, count_min_score) = (df_temp.min(), df_temp[df_temp == df_temp.min()].count())
        
        
        #Find number appearance highest, lowest
        thong_ke = df_temp.value_counts().sort_index()
        thong_ke = thong_ke.rename_axis('score').reset_index(name='number_appearance')
        
        index_frequent_max = thong_ke['number_appearance'].idxmax()
        
        (value_highest_appearances, count_value_highest_appearances) = (thong_ke.loc[index_frequent_max, 'score'], thong_ke
                                                                          .loc[index_frequent_max, 'number_appearance'])
        index_frequent_min = thong_ke['number_appearance'].idxmin()
        
        (value_lowest_appearances, count_value_lowest_appearances) = (thong_ke.loc[index_frequent_min, 'score'], thong_ke
                                                                          .loc[index_frequent_min, 'number_appearance'])
        
        
        # print(value_highest_appearances, count_value_highest_appearances)
        data_analyze[column_name] = {
            'max_score': int(max_score),
            'count_max_score': int(count_max_score),
            'max_score': int(min_score),
            'count_max_score': int(count_min_score),
            'value_highest_appearance': int(value_highest_appearances),
            'count_value_highest_appearances': int(count_value_highest_appearances),
            'value_lowest_appearance': int(value_lowest_appearances),
            'count_value_lowest_appearances': int(count_value_lowest_appearances)
        }
        
        
        
        # Vẽ biểu đồ
        thong_ke.plot(kind='bar', xlabel='Score', ylabel='Number of Score')
        plt.title(f'Biểu đồ phân phối điểm của môn  {column_name}')
        plt.xticks(rotation=45)
        
        # Lưu biểu đồ dưới dạng file JPG
        save_file_path = os.path.join(save_path, f'{column_name}_distribution.jpg')
        plt.savefig(save_file_path)
        plt.close()  # Đóng biểu đồ để giải phóng bộ nhớ
    
    
    
    print(data_analyze)
    with open('summary.json', 'w') as file:
        json.dump(data_analyze, file)

In [62]:
process_and_save_plot(df, 'data')

{'Math': {'max_score': 1, 'count_max_score': 1, 'value_highest_appearance': 3, 'count_value_highest_appearances': 4, 'value_lowest_appearance': 1, 'count_value_lowest_appearances': 1}, 'Physic': {'max_score': 1, 'count_max_score': 2, 'value_highest_appearance': 7, 'count_value_highest_appearances': 6, 'value_lowest_appearance': 1, 'count_value_lowest_appearances': 1}, 'Chemistry': {'max_score': 1, 'count_max_score': 1, 'value_highest_appearance': 1, 'count_value_highest_appearances': 8, 'value_lowest_appearance': 1, 'count_value_lowest_appearances': 1}, 'Biography': {'max_score': 1, 'count_max_score': 1, 'value_highest_appearance': 4, 'count_value_highest_appearances': 5, 'value_lowest_appearance': 1, 'count_value_lowest_appearances': 1}}